@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

.wrapper {
  width: 1010px;
  margin: 0 auto;
  background: #FFFFFF;
}

.header {
  padding: 0 34px;
  background: #FFFFFF;
}

.search-form {
  margin-bottom: 12px;
}

.spiner {
  margin: 5% 49%;
}

.main {
  min-height: 810px;
}

.films-list {
  padding: 20px 34px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 34px;

  
}

.ant-card-body {
  padding: 0;
  display:flex;
  flex-direction: row;
}

.film-poster {
  width: 183px;
  height: 279px;
}

.film-content {
  padding-top: 12px;
  padding-left: 20px;
  padding-right: 20px;
  
  display:flex;
  flex-direction: column;
  gap: 5px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
}

.film-title {
  margin: 0;

  font-size: 20px;
  line-height: 28px;

  color: #000000;
}

.film-date {
  font-size: 12px;
  line-height: 22px;

  color: #827E7E;
}

.film-genre {
  font-size: 12px;
  line-height: 15px;

  color: rgba(0, 0, 0, 0.65);
}

.film-overview {
  margin: 0;

  font-size: 12px;
  line-height: 22px;

  color: #000000;
}

.footer {
  padding: 12px 0;
  display: flex;
  justify-content: center;
  background: #FFFFFF;
}