@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

.wrapper {
  width: 1010px;
  margin: 0 auto;
  background: #FFFFFF;
}

.ant-layout-header {
  height: auto;
}

.header {
  padding: 0 34px;
  background: #FFFFFF;
}

.tabs {
  width: 146px;
  margin: auto;
  padding-top: 13px;
  display: flex;
  justify-content: center;
  gap: 16px;
  border-bottom: #cfcfcfd7 solid 1px;
}

.tabs-btn {
  width: 65px;
  height: 55px;
  padding: 0;
  border: none;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: rgba(0, 0, 0, 0.65);
}

.tabs-btn:hover, .tabs-btn:focus {
  color: #1890FF;
  border-bottom: #1890FF solid 2px;
}

.spiner {
  margin: 5% 49%;
}

.main {
  min-height: 810px;
}

.films-list {
  padding: 20px 34px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 34px;

  
}

.ant-card-body {
  padding: 0;
  display:flex;
  flex-direction: row;
}

.film-poster {
  width: 183px;
  height: 279px;
}

.film-content {
  padding-top: 12px;
  padding-left: 20px;
  padding-right: 20px;
  
  display:flex;
  flex-direction: column;
  gap: 5px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
}

.film-title {
  margin: 0;

  font-size: 20px;
  line-height: 28px;

  color: #000000;
}

.film-date {
  font-size: 12px;
  line-height: 22px;

  color: #827E7E;
}

.ganers-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  /* justify-content: start; */
  font-size: 12px;
  line-height: 15px;
}

.btn-ganre {
  height: 20px;
  color: rgba(0, 0, 0, 0.65);
  background: #FAFAFA;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 2px;
  cursor: pointer;
}

.btn-ganre:hover {
  color: rgba(0, 0, 0, 085);
  background: #e7e7e7;
  border: 1px solid #bebebe;

}

.film-overview {
  margin: 0;

  font-size: 12px;
  line-height: 22px;

  color: #000000;
}

.footer {
  padding: 12px 0;
  display: flex;
  justify-content: center;
  background: #FFFFFF;
}